:root{
    --red:#C73B0F;
    --rose-900:#260F08;
    --rose-500:#87635A;
    --rose-400:#AD8A85;
    --rose-300:#FCF8F6;
    --rose-100:#F5EEEC;
    --green:#1EA575;
    --white:#FFFFFF;

    --regular:400;
    --medium:500;
    --semiBold:600;
    --bold:700;

}   
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Red Hat Text", serif;
    background-color: #FCF8F6;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.header{
    padding: 144px 0 26px 10px;
}
@media screen and (width>=768px){
    .header{
        padding: 104px 0 32px 37px;
    }
}
.title{
    font-size: 40px;
    font-weight: var(--bold);
    line-height: 120%;
}
.options{
    display: flex;
    width: 268px;
    height: 34px;
    justify-content: space-between;
    font-size: 14px;
    line-height: auto;
    font-weight: var(--semiBold);
}
@media screen and (width>=768px){
    .options{
        margin-left: 3px;
    }
}
.btn-nav , .btn-addToCard{
    width: 77px;
    height: 100%;
    border: 1px solid var(--rose-400);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    padding: 0 24px 28px 24px;
}
@media screen and (width>=768px){
    .main{
        padding: 0 40px 20px 40px;
    }
}
@media screen and (width>=1440px){
    .main{
        display: grid;
        grid-template-columns: 2, 3fr, 1fr;
        gap: 32px;
    }
}
.img-btn{
    position: relative;
    margin-bottom: 38px;
}
.picture{
    width:100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.btn-addToCard{
    position: absolute;
    width: 160px;
    height: 44px;
    background-color: var(--white);
    bottom: -20px;
    left: calc(50% - 80px);
}
.icon-card{
    margin-right: 8px;
    pointer-events: none;
}
.text-addcart{
    color: var(--rose-900);
    font-size: 13px;
    font-weight: var(--semiBold);
    line-height: auto;
    pointer-events: none;
}
.info-card{
    width: 100%;
    height: 69px;
}
.info-card p{
    margin: 0;
    margin-bottom: 4px;
}
.product-type{
    color: var(--rose-500);
}
.name-product,.price{
    color: var(--rose-900);
    font-size: 16px;
    font-weight: var(--semiBold);
    line-height: auto;
}
.price{
    color: var(--red);
}
.product{
    margin-bottom: 24px;
}
@media screen and (width>=1440px){
    .product{
        min-width:250px;
    }
}
.btn-added{
    background-color: #C73B0F;
    justify-content: space-around;
    color: var(--white);
}
.flex-row-buttom{
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    border-style: none;
    color: var(--white);
    width: 77px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (width>=768px){
    .products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}
@media screen and (width>=1440px){
    .products{
        grid-column: 1/3;
    }
}
.disappear{
    display: none;
}
.cart{
    padding: 24px;
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
}
@media screen and (width>=1440px){
    .cart{
        min-width: 384px;
        grid-column: 3/4;
    }
}
.cart-title{
    color: var(--red);
    font-size: 24px;
    font-weight: var(--bold);
    list-style: auto;
    margin-bottom: 24px;
}
.box-product-card{
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 12px;
}
.price-item-card{
    display: flex;
    justify-content: space-between;
}
.item p{
    margin: 0;
}
.quantity{
    color: var(--red);
}
.real-price{
    color: var(--rose-400);
    font-weight: var(--regular);
}
.total{
    color: var(--rose-500);
}
.remove-item{
    width: 20px;
    height: 20px;
    border: 1px solid var(--rose-400);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    width: 125px;
    font-size: 14px;
    line-height: auto;
    font-weight: var(--semiBold);
    color: var(--rose-900);
    display: flex;
    flex-direction: column;
}
.line{
    width: 100%;
    height: 1px;
    border: 1px solid var(--rose-100);
    margin-top: 16px;
    margin-bottom: 16px;
}
.total-order{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: var(--regular);
    line-height: auto;
    align-items: center;
}
.total-global{
    font-size: 24px;
    font-weight: var(--bold);
    line-height: auto;
}
.carbon-neutral{
    background-color: #FCF8F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 24px;
}
.text-carbon-neutral{
    font-size: 14px;
    font-weight: var(--regular);
    line-height: auto;
    margin-left: 8px;
}
.carbon-neutral-bold{
    font-weight: var(--semiBold);
}
.confirm-order{
    border-style: none;
    background-color: var(--red);
    width: 100%;
    height: 53px;
    color: white;
    border-radius: 999px;
    font-weight: var(--semiBold);
    font-size: 16px;
    line-height: auto;
}

